<h5 class="page-main-title">Você deseja denunciar o produto abaixo:</h5>
<form action="/denuncia" method="POST">
<div class="row">
  <div class="card s12">
    <div class="card-image">
      <img class="imagem" src="{{produto.url}}">
      <span class="card-title value-card-title">R${{produto.valor}}</span>
    </div>
    <div class="card-content">
      <p>{{produto.nome}}</p>
      <p>{{produto.descricao}}</p>
      <p>Vendido por {{produto.userName}}</p>
    </div>
  </div>
</div>
<h5>Por favor, selecione o(s) motivo(s) da denúncia:</h5>
<p><label>
    <input type="checkbox" class="filled-in" name="Indecente" />
    <span>Produto para maiores de idade</span>
  </label></p>
<p><label>
    <input type="checkbox" class="filled-in" name="Proibido" />
    <span>Produto proibido de comercializar no Brasil</span>
  </label></p>
<p><label>
    <input type="checkbox" class="filled-in" name="Ofensivo" />
    <span>Produto ofensivo</span>
  </label></p>
 <input type="hidden" name="idProduto" value="{{produto._id}}">

 Você será redirecionado para HOME assim que a denúncia for enviada com sucesso.        
 <div class="card-action right-align flex-space-between-center">
      <input type="submit" class="btn waves-effect waves-light center-align btn-login" value="Enviar">
  </div>
</form>