<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li class="dropdown-title">Ordenar por</li>
  <li class="divider"></li>
  <li><a href="?orderBy=valor">Menor Preço</a></li>
  <li><a href="?orderBy=-valor">Maior Preço</a></li>
</ul>

<div class="filters-form">
  <form action="/" method="GET">
    <div class="filters-flex-space-between">
      <div>
        <span>Campus:</span>
        <label>
          <input type="checkbox" class="filled-in" name="CAMGragoatá" />
          <span>Gragoatá</span>
        </label>
        <label>
          <input type="checkbox" class="filled-in" name="CAMPraia Vermelha" />
          <span>Praia Vermelha</span>
        </label>
        <label>
          <input type="checkbox" class="filled-in" name="CAMValonguinho" />
          <span>Valonguinho</span>
        </label>
        <label>
          <input type="checkbox" class="filled-in" name="CAMIACS" />
          <span>IACS</span>
        </label>
      </div>
      <div>
        <span>Horário:</span>
        <label>
          <input type="checkbox" class="filled-in" name="TURManhã" />
          <span>Manhã</span>
        </label>
        <label>
          <input type="checkbox" class="filled-in" name="TURTarde" />
          <span>Tarde</span>
        </label>
        <label>
          <input type="checkbox" class="filled-in" name="TURNoite" />
          <span>Noite</span>
        </label>
      </div>
    </div>
    <div class=" center-align filters-form-submit">
      <input type="submit" class="btn waves-effect waves-light" style="color: #fafafa" name="action"
        value="Filtrar por campus e horário">
    </div>
  </form>
</div>

{{#if produtos}}
<div class="row">
  {{#each produtos}}
  <a href="/comprar-produto?id={{_id}}&emailVendedor={{userEmail}}">
  <div class="col s6 m6">
    <div class="card small home-img-card">
      <div class="card-image">
        <img class="imagem" src="{{url}}">
        <span class="card-title value-card-title">R${{valor}}</span>
      </div>
      <div class="card-content">
        <p class="home-title-product">{{nome}}</p>
        <p>{{descricao}}</p>
        <p class="home-subtitle-product">Vendido por {{userName}}</p>
      </div>
    </div>
  </div>
  </a>
  {{/each}}
</div>
{{else}}
<div class="img-no-product-found">
  <img src="../imgs/nocartIcon.png">
</div>
<p class="txt-no-product-found">Não existem produtos a venda. Que tal procurar com outros filtros?</p>
{{/if}}