{{#if produtos}}
<div class="row">
  {{#each produtos}}
  <div class="col s6 m6">
    <div class="card small">
      <div class="card-image">
        <img class="imagem" src="{{url}}">
        <span class="card-title value-card-title">R${{valor}}</span>
      </div>
      <div class="card-content">
        <p class="home-title-product">{{nome}}</p>
        <p>{{descricao}}</p>
      </div>
      <div class="card-actions">
        <a href="/produto?id={{_id}}"><i class="small material-icons">edit</i></a>
        <a href="/deletar-produto?id={{_id}}" class="warning-action"><i class="small material-icons">delete</i></a>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{else}}
<div class="img-no-product-found">
  <img src="../imgs/nocartIcon.png">
</div>
<p class="txt-no-product-found">Não existem produtos a venda. Que tal começar a vender algo? <br> Clique no botão + para
  adicionar um produto.</p>
{{/if}}

<div class="fixed-action-btn">
  <a class="btn-floating btn-large" href="/produto">
    <i class="large material-icons">add</i>
  </a>
</div>