<h5 class="page-main-title">Meus produtos</h5>
{{#if produtos}}
<ul class="collection">
  {{#each produtos}}
  <li class="collection-item avatar">
    <img src="{{url}}" alt="" class="my-products-img">
    <span class="title">{{nome}}</span>
    <p>{{descricao}},
      R$ {{valor}}
    </p>
    <a href="/produto?id={{_id}}" class="edit-action"><i class="small material-icons">edit</i></a>
    <a href="/deletar-produto?id={{_id}}" class="warning-action"><i class="small material-icons">delete</i></a>
  </li>
  {{/each}}
  {{else}}
  <div class="img-no-product-found">
    <img src="../imgs/nocartIcon.png">
  </div>
  <p class="txt-no-product-found">Não existem produtos a venda. Que tal começar a vender algo? <br> Clique no botão +
    para
    adicionar um produto.</p>
  {{/if}}

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large" href="/produto">
      <i class="large material-icons">add</i>
    </a>
  </div>