{{#if produtos}}
  <div class="row">
    {{#each produtos}}
    <div class="col s6 m6">
      <div class="card small">
        <div class="card-image">
          <img class="imagem" src="{{url}}">
          <span class="card-title">R${{valor}}</span>
        </div>
        <div class="card-content">
          <a href="#">{{nome}}</a>
          <a href="#">{{descricao}}</a>
          <a href="/produto?id={{_id}}"><i class="small material-icons">edit</i></a>
          <a href="/deletar-produto?id={{_id}}"><i class="small material-icons">delete</i></a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
{{else}}
<h6 class="text-center">Você não tem nenhum produto :( <br></h4>
{{/if}}

<div class="fixed-action-btn">
  <a class="btn-floating btn-large red" href="/produto">
    <i class="large material-icons">add</i>
  </a>
</div>
