<form action="/produto" method="POST" id="form-login">
  <label for="nome">Nome:</label>
  <input type="text" name="nome" id="nome" value="{{produto.nome}}">
  <label for="descricao">Descrição:</label>
  <input type="text" name="descricao" id="descricao" value="{{produto.descricao}}">
  <label for="valor">Valor:</label>
  <input type="number" name="valor" id="valor" value="{{produto.valor}}">
  <label for="url">URL:</label>
  <input type="text" name="url" id="url" value="{{produto.url}}">
  <input type="hidden" name="idProduto", value="{{produto._id}}">        
  <div class="card-action right-align flex-space-between-center">
      <input type="submit" class="btn waves-effect waves-light center-align btn-login" name="action" value="Salvar">
  </div>
</form>