<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">qqcefaz?</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <!-- Dropdown Trigger -->
      <a class="dropdown-trigger" href="#!" data-target="dropdown1" data-alignment="right"><i class="material-icons right">import_export</i></a>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo">
  <li class="profile"><img class="avatar-photo" src="https://www.petmd.com/sites/default/files/petmd-kitten-development.jpg"></li>
  <li class="profile profile-name">{{usuario.nome}}</li>
  <li class="profile">{{usuario.email}}</li>
  <li class="divider"></li>
  <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
  <li><a href="/perfil"><i class="material-icons left">face</i>Perfil</a></li>
  <li><a href="/meus-produtos"><i class="material-icons left">attach_money</i>Meus Produtos</a></li>
</ul>
<form action="/perfil" method="POST" id="form-login">
  <label for="nome">Nome:</label>
  <input type="text" name="nome" id="nome" value="{{usuario.nome}} disabled">
  <label for="descricao">Email:</label>
  <input type="text" name="email" id="email" value="{{usuario.email}}" disabled>
  <p>Atualmente, você está vendendo seus produtos nos campus {{usuario.campus}}</p>
  <p>E nos turnos {{usuario.turnos}}</p>
  <label for="campus">Campus onde você vai vender seus produtos:</label>
  <p><label>
    <input type="checkbox" class="filled-in" name="CAMGragoatá" />
    <span>Gragoatá</span>
  </label></p>
    <p><label>
    <input type="checkbox" class="filled-in" name="CAMPraia Vermelha" />
    <span>Praia Vermelha</span>
  </label></p>
    <p><label>
    <input type="checkbox" class="filled-in" name="CAMValonguinho" />
    <span>Valonguinho</span>
  </label></p>
    <p><label>
    <input type="checkbox" class="filled-in" name="CAMIACS" />
    <span>IACS</span>
  </label></p>
  <label for="turno">Turno que você vai estar vendendo:</label>
  <p><label>
    <input type="checkbox" class="filled-in" name="TURManhã" />
    <span>Manhã</span>
  </label></p>
   <p><label>
    <input type="checkbox" class="filled-in" name="TURTarde" />
    <span>Tarde</span>
  </label></p>
 <p><label>
    <input type="checkbox" class="filled-in" name="TURNoite" />
    <span>Noite</span>
  </label></p>


  <input type="hidden" name="idUsuario", value="{{usuario._id}}">        
  <div class="card-action right-align signup-signin-action">
      <input type="submit" class="btn waves-effect waves-light center-align btn-login" name="action" value="Salvar">
  </div>
</form>