<div class="row">
  <div class="card s12">
    <div class="card-image">
      <img class="imagem" src="{{produto.url}}">
      <span class="card-title value-card-title">R${{produto.valor}}</span>
    </div>
    <div class="card-content">
      <p>{{produto.nome}}</p>
      <p>{{produto.descricao}}</p>
      <p>Vendido por {{produto.userName}}</p>
      <p>Campus {{usuario.campus}}</p>
      <p>Horário {{usuario.turnos}}</p>
    </div>
  </div>
  <a href="/denuncia?id={{produto._id}}" class="warning-action"><i class="material-icons left">thumb_down</i>Denunciar produto</a>
</div>
