<div class="row">
  <div>
    <img class="imagem-produto" src="{{produto.url}}">
  </div>
  <div>
    <p class="produto-title">{{produto.nome}}</p>
    <p>{{produto.descricao}}</p>
    <p>Preço: R$ {{produto.valor}}</p>
  </div>
  <div class="info-vendedor">
    <h6><b>Informações do vendedor</b></h6>
    <p class="">Vendido por {{produto.userName}}</p>
    <p>Campus {{usuario.campus}}</p>
    <p>Horário {{usuario.turnos}}</p>
  </div>
</div>
<a href="/denuncia?id={{produto._id}}" class="warning-action"><i class="material-icons left">thumb_down</i>Denunciar
  produto</a>
</div>