{{> navbar}}

<h4>Edição de Usuário</h4>

<span class="red">{{mensagemGeral}}</span>

<form id="form-cadastro" method="POST" action="/usuario/{{usuario}}/editar" enctype="multipart/form-data">
    <div>
        <img src="{{foto}}" style="max-width: 30%; border-radius: 50%">
        <label for="foto">Rostinho bonito de deus: </label>
        <input type="file" name="foto">
    </div>
    <div>
        <label for="nome-usuario">Nome:</label>
        <input type="text" name="nome" value="{{nome}}">
    </div>
    <div>
        <label for="email-usuario">E-mail:</label>
        <input type="email" name="email" value="{{email}}" readonly>
    </div>
    <div>
        <span class="red">{{mensagemSenhaAtual}}</span>
        <label for="senha-autal-usuario" id="perfil-senha-atual">Senha Atual:</label>
        <input type="password" name="senhaAtual" id="senha-atual-usuario" placeholder="a de sempre">
    </div>
    <div>
        <span id="cadastro-mensagem-senha" class="red"></span>
        <label for="senha-usuario" id="perfil-senha">Senha:</label>
        <input type="password" name="senha" placeholder="secretissima">
    </div>
    <div>
        <label for="senha-usuario" id="editar-perfil-confirmacao-senha">Confirmação de Senha:</label>
        <input type="password" placeholder="secretissima">
    </div>
    <div style="background-color: gray;">
        <label for="usuario">Usuário:</label>
        <input type="text" name="usuario" value="{{usuario}}" readonly>
    </div>
    <button type="submit">Enviar</button>
</form>

<script>
    $(document).ready(() => {
        let token = $.cookie("token");
        $.ajax({
            type: 'POST',
            url: '/usuario/informacoesnavbar',
            data: {
                token: token
            }
        }).done((d) => {

            $('#nav-bar-foto').attr("src", d.foto);
            $('#nav-bar-nome').html(d.nome);
            $('#nav-bar-email').html(d.email);
            $("#nav-bar-usuario").attr("href", `/usuario/${d.usuario}`);
        });
    });

    $("#editar-perfil-confirmacao-senha").focusout(() => {
        if ($("#perfil-confirmacao-senha").val().toString() != $("#editar-perfil-confirmacao-senha").val().toString()) {
            $("#cadastro-mensagem-senha").html("As senhas precisam ser iguais");
            return false;
        } else {
            $("#cadastro-mensagem-senha").html("");
            return true;
        }
    });

</script>