{{> navbar}}

<div>
    <img src="{{foto}}" alt="foto usuário" style="max-width: 30%; border-radius: 50%" class="align-center">
</div>
<span>{{mensagem}}</span>
<a href="/usuario/{{usuario}}/editar" class="waves-effect waves-light btn">Editar Usuário</a>
<a href="/usuario/{{usuario}}/excluir" class="waves-effect waves-light btn red">Excluir Usuário</a>
<ul class="collection with-header">
    <li class="collection-header">
        Nome:
        <span>
            {{nome}}
        </span>
    </li>
    <li class="collection-item">
        Usuario:
        <span>
            {{usuario}}
        </span>
    </li>
    <li class="collection-item">
        E-mail:
        <span>
            {{email}}
        </span>
    </li>
</ul>
<script>
    $(document).ready(() => {
        let token = $.cookie("token");
        console.log(token);
        $.ajax({
            type: 'POST',
            url: '/usuario/informacoesnavbar',
            data: {
                token: token
            }
        }).done((d) => {
            console.log(d);
            $('#nav-bar-foto').attr("src", d.foto);
            $('#nav-bar-nome').html(d.nome);
            $('#nav-bar-email').html(d.email);
            $("#nav-bar-usuario").attr("href", `/usuario/${d.usuario}`);
        });
    });
</script>